body {
    max-width:50em;
    margin-left:auto;
    margin-right:auto;
}
p {
    text-indent: .5in;
}
img {
    width: 100% !important;
    height: auto !important;
    margin: 10px 0;
}
.lyrics, /* Kayda */ .dream {
    margin-left: 0.5in;
    margin-right: 0.5in;
    text-indent: 0.5in;
    text-align: left;
}

/* Kayda */
.dream {
    font-style: italic;
}

/* end reviewed styles */

.Webarticle {
    color: #FFFFFF;
    background-color: #006600;
    margin-top: auto;
    margin-right: 8%;
    margin-left: 8%;
    border: thin solid #999999;
}

.bizcard {
    font-style: italic;
    background-color: #FFFFFF;
    text-align: center;
    vertical-align: baseline;
    margin: 5px;
    padding: 5px;
    height: 2in;
    width: 3in;
    border: 1px solid #FF0000;
    background-position: center;
    clear: both;
    float: none;
}
.PCscreen {
    font-family: "Courier New", Courier, monospace;
    color: #FFFFFF;
    background-color: #000000;
    margin-left: .4in;
    margin-right: .4in;
    padding: .1in;
    border: 2px solid #afaf7c;
    text-decoration: none;
}
.Net {
    background-color: #3300FF;
    border: 2px double #00FFFF;
    color: #FFFFFF;
}
.Fireworks {
    background-image: url(../Images/firework27.gif);
    background-position: center center;
}

.headder {
    text-align: center;
}
.Newsclipping {
    margin-right: 3%;
    margin-left: 3%;
    border: thin solid #999999;

}
.WarningYellow {
    color: #FFFF00;
    background-color: #FF0000;
}
.MID {
    width: 30pc;
    float: none;
    clear: none;
    border: solid #666;
}
MMID {
    font-family: "Courier New", Courier, monospace;
    background-color: #66FFFF;
    border: solid #66FFFF;
}
.TONG {
    background-image: url(../Images/paper.jpg);
    background-repeat: repeat;
}
.parchment {
    background-image: url(../Images/paper.jpg);
}
.rpicture {
    float: right;
}
